<app-title-bar titulo="Serviços prestados" descricao="Tela de cadastro de serviços prestados"></app-title-bar>

<div class="container">
  <form [formGroup]="form">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="idFornecedor">Fornecedor</label>
        <select formControlName="idFornecedor" id="idFornecedor" class="custom-select"
          [(ngModel)]="modelo.idFornecedor">
          <option *ngFor="let item of fornecedorList" [value]="item.idFornecedor">{{ item.nomeFornecedor }}</option>
        </select>
      </div>

      <div class="col-md-4 mb-3">
        <label for="idCliente">Cliente</label>
        <select formControlName="idCliente" id="idCliente" class="custom-select" [(ngModel)]="modelo.idCliente">
          <option *ngFor="let item of clienteList" [value]="item.idCliente">{{ item.nomeCliente }}</option>
        </select>
      </div>

      <div class="col-md-4 mb-3">
        <label for="idTipoServico">Tipo de Serviço</label>
        <select formControlName="idTipoServico" id="idTipoServico" class="custom-select"
          [(ngModel)]="modelo.idTipoServico">
          <option *ngFor="let item of tipoServicoList" [value]="item.idTipoServico">{{ item.nomeTipoServico }}</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="dataAtendimentoServicoPrestado">Data de Atendimento</label>
        <div class="form-group">
          <div class="input-group">
            <input #d type="date" formControlName="dataAtendimentoServicoPrestado" id="dataAtendimentoServicoPrestado"
              class="form-control" placeholder="__/__/____">
            <input #d type="time" formControlName="horaAtendimentoServicoPrestado" id="horaAtendimentoServicoPrestado"
              class="form-control" placeholder="__:__">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.focus()" type="button">
                <i class="far fa-calendar-alt"></i>
              </button>
            </div>
          </div>
        </div>

        <label for="valorServicoPrestado">Valor do serviço</label>
        <input type="tel" formControlName="valorServicoPrestado" class="form-control">
      </div>

      <div class="col-md-8 mb-3">
        <label for="descricaoServicoPrestado">Descrição do serviço</label>
        <textarea formControlName="descricaoServicoPrestado" class="form-control" id="descricaoServicoPrestado"
          cols="30" rows="5"></textarea>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Lançar</button>
  </form>

  <code>{{ form.value | json }}</code>
</div>